tags
.vim
linux/.vim/*
!linux/.vim/
!linux/.vim/coc-settings.json
.vimrc
!linux/.vimrc
.vscode
linux/.ssh/*
!linux/.ssh/config
!linux/.ssh/id_rsa.pub
!linux/.ssh/ansible.rsa.pub
linux/.ssh/controlmasters/*
!linux/.ssh/controlmasters/
!linux/.ssh/controlmasters/.gitkeep
